<div className="navbar-header bg-dark">
    <button className="pull-right visible-xs dk">
        <i className="glyphicon glyphicon-cog"></i>
    </button>
    <button className="pull-right visible-xs">
        <i className="glyphicon glyphicon-align-justify"></i>
    </button>
    <a href="#/" className="navbar-brand text-lt">
        <i className="fa fa-leaf"></i>
        <span className="hidden-folded m-l-xs">React</span>
    </a>
</div>
<div className="collapse navbar-collapse box-shadow bg-white-only">
    <div className="nav navbar-nav m-l-sm hidden-xs">
        <a href className="btn no-shadow navbar-btn">
            <i className="fa fa-indent fa-fw"></i>
        </a>
    </div>

    <ul className="nav navbar-nav navbar-right">
        <li className="dropdown">
            <a href className="dropdown-toggle">
                <i className="icon-bell fa-fw"></i>
                <span className="visible-xs-inline">Notifications</span>
                <span className="badge badge-sm up bg-danger pull-right-xs">2</span>
            </a>
        </li>
        <li className="dropdown">
            <a href className="dropdown-toggle clear" data-toggle="dropdown">
                            <span className="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                                <img src="img/default_head.png" alt="...">
                                <i className="on md b-white bottom"></i>
                            </span>
                <span className="hidden-sm hidden-md">username</span> <b className="caret"></b>
            </a>
        </li>
    </ul>
</div>
